<app-menu-bar />
<div class="desktop">
  <picture class="bg-image" aria-hidden="true">
    <img src="/assets/icons/Sequoia_Sunrise.png" alt="" decoding="async" fetchpriority="high" />
  </picture>
  <div class="bg-overlay" aria-hidden="true"></div>
  <app-finder-window [open]="isFinderOpen" (closed)="isFinderOpen=false"></app-finder-window>
  <div class="icons">
    <button class="icon" *ngFor="let item of desktopIcons" (dblclick)="onDesktopOpen(item.name)" title="Double-click to open">
      <img class="emoji" [src]="item.icon" [alt]="item.name" width="40" height="40" />
      <span class="label">{{ item.name }}</span>
    </button>
  </div>
</div>
<app-dock [runningApps]="runningApps" (appOpen)="onDockOpen($event)" />
